* {
    box-sizing: border-box;
    font-family: "Cambria", "Cambria", cursive;
}

.navbar.navbar-default {
  background-color: #fffacd;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-default .navbar-brand {
  color: #fffff0;
  font-weight: bold;
}

h1 {
    font-size: 2.2em;
}

section {
    background-color: #E0FFFF;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
}

section h3 {
    font-size: 1.75em;
}

section p {
    padding: 0 6px 4px 6px;
}